  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #707070;
    text-align: left;
    
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #212529;
    text-align: left;
   
  }
nav{
  background-color: #28A745;
}
ul a {
  text-decoration: none;
  color:#28A745;
}
i{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #707070;
  text-align: left;
}
div p{
  display: inline;
  text-align: left;
}

.card-body{
  border: solid #DDDDDD;
  max-width: 100%
}
.card{
  margin-top: 1.5rem;
  border: 0cap;
}
img:hover {
  color:hotpink;
}